body {
  height: 100vh;
  font-family: Arial, sans-serif;
  background: #fcf0ff;
  background: linear-gradient(
    208deg,
    rgba(252, 240, 255, 1) 0%,
    rgba(94, 94, 255, 1) 100%
  );
  margin: 0;
  padding: 0;
}
.cal-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #000000;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#display {
  width: 85%;
  padding: 20px;
  font-size: 40px;
  text-align: right;
  background-color: #000351f0;
  color: #ffffff;
  border-radius: 4px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}
.button-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
.button {
  width: 80px;
  padding: 15px;
  margin: 5px 0;
  font-size: 24px;
  border: 1px solid #110261;
  border-radius: 40px;
  cursor: pointer;
  background: #f7f6df;
  background: linear-gradient(
    340deg,
    rgba(247, 246, 223, 1) 51%,
    rgba(205, 239, 250, 1) 100%
  );
}
.button:hover {
  background-color: #007bff;
  color: #00065c;
}
